**{
    margin: 0;
    box-sizing: content-box;
}
:root {
    --rosado: #FF8580;
    --sky: #77C7CE;
    --claro:#FCE8E1;
}
.about {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-around;
    align-content: center;
    

    /*display: flex;
  align-items: center;
  justify-content: space-between; Espacio entre elementos 
  gap: 2rem; Separación entre imagen y texto 
  padding: 2rem;*/

}
.square {
    background-color: var(--claro);
    align-content: center;
    height: 100vh;
    width:100%;
    
}
.text-about {
    padding: 7rem;
    text-align: left;
    font-size: 1.25rem;
}
ul {
    list-style: none;
   
}


@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }

  .square {
    width: 100%;
    max-width: 400px;
  }
}