**{
    margin: 0;
    box-sizing: content-box;
}
:root {
    --rosado: #FF8580;
    --sky: #77C7CE;
    --claro:#FCE8E1;
}
.about {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    align-items: center;

}