

.cont-item {
    height: 200px;
    width: 200px;
    background: var(--sky);
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
   
}
