**{
    margin: 0;
    box-sizing: content-box;
}
:root {
    --rosado: #FF8580;
    --pinky:  #fde8e1;
    --sky: #77C7CE;
    --celeste:  #bee1e7;
}

.nav-bar {
    top: 0;
    display: fixed;
    width: 100dvw;
    height: 110px;
    padding: 10px;
    background: var(--pinky);
    align-content: center;
    justify-content: center;

}
.nav-img {
    height: 100%;
    width: auto;
}
@media (max-width: 768px) {
    .nav-bar {
        height: 80px;
        padding: 15px;

    }
}