**{
    margin: 0;
    box-sizing: content-box;
}

:root {
    --rosado: #FF8580;
    --sky: #77C7CE;
    --claro:#FCE8E1;
}
.section-portada {
    height: 100vh;
    width: 100%;
    background: var(--claro);
    display: grid;
    justify-content: space-around;
    align-items: center;
}
.contenedor1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 40px
}


@media (max-width: 768px) {

.section-portada {
    background: rgb(202, 181, 181);
    height: auto;
    
}
.contenedor1 {
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 200px 100px;
    width: 100dvw;

    background-color: rgb(233, 77, 77);

}}