


.prod {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 80px;
    justify-items: space-around;
    align-items: center;
    z-index: 4;
}


.cont-postres {
    position: relative;
    display:inline-flex;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 40px;
    overflow: hidden;
}
.item {
    height: 500px;
    width: 180px;
    display: grid;
 border-radius: 40px;
 overflow: hidden;
}
.item:hover {
    animation: productos 3s alternate;
}
@keyframes productos {
    from {
        width: 180px;
        border-radius: 40px;

    }
    to {
        width: 260px;
        border-radius: 0px;


    }
}
.item-pic {
    position: relative;

}
.item-text {
    display: flex;
    justify-content: center;
    background-position: center;
    background-size:cover; 
    width:300px;
    z-index: 4;
    overflow: hidden;
    height: 500px;
  
    background-color: rgba(255, 230, 0, 0.466);
}
.text-pic {
        text-orientation:sideways-right;
        writing-mode: vertical-rl;
        left: calc(100% - 0.5rem);
        transform: rotate(180deg);
        display: flex;
        white-space: nowrap;
}